import numpy as np
import pandas as pd
df=pd.DataFrame({'Name':['Alice','Bob','Charlie','Alice','Bob','Charlie'],'Category':['A','B','C','A','B','C'],'value':np.random.randint(1,5,size=6),'Score':np.random.randint(60,100,size=6)})
print("\n Original DataFrame:\n",df)

In [12]:
df1=df.groupby(('Name'),as_index=False)['value'].sum()
print("\n Group by name and Aggregation with one column sum:\n",df1)

 Group by name and Aggregation with one column sum:
       Name  value
0    Alice      8
1      Bob      2
2  Charlie      5

In [17]:
df2=df.groupby(('Name'),as_index=False)[['value','Score']].sum()
print("\nGroup by name and Aggregation with two column:\n",df2)

Group by name and Aggregation with two column:
       Name  value  Score
0    Alice      8    129
1      Bob      2    138
2  Charlie      5    161

In [18]:
df3=df.groupby(('Name'),as_index=False)['value'].agg('sum')
print("\nGroup by name and Aggregation with one column using agg function:\n",df3)

Group by name and Aggregation with one column using agg function:
       Name  value
0    Alice      8
1      Bob      2
2  Charlie      5

In [21]:
df4 = df.groupby('Name').agg({'value': ['sum', 'mean', 'min', 'max'],'Score': ['sum', 'mean']})
print("\nGroup by name and multiple Aggregation functions :\n", df4)

Group by name and multiple Aggregation functions :
         value              Score
          sum mean min max   sum  mean
Name
Alice       8  4.0   4   4   129  64.5
Bob         2  1.0   1   1   138  69.0
Charlie     5  2.5   1   4   161  80.5

In [23]:
df5=df.groupby(('Name'),as_index=False)['value'].count()
print("\n Group and count:\n",df5)

 Group and count:
       Name  value
0    Alice      2
1      Bob      2
2  Charlie      2

In [24]:
df6=df.groupby(('Name')).count()
print("\n Group and count:\n",df6)

 Group and count:
          Category  value  Score
Name
Alice           2      2      2
Bob             2      2      2
Charlie         2      2      2

In [27]:
df7=df.groupby(('Name'),as_index=False)['value'].first()
print("\n Group and display from first:\n",df7)

 Group and display from first:
       Name  value
0    Alice      4
1      Bob      1
2  Charlie      4

In [28]:
df8=df.groupby(('Name')).first()
print("\n Group and display from first:\n",df8)

 Group and display from first:
         Category  value  Score
Name
Alice          A      4     68
Bob            B      1     78
Charlie        C      4     95

In [30]:
df9=df.groupby(('Name')).last()
print("\n Group and display from last:\n",df9)

 Group and display from last:
         Category  value  Score
Name
Alice          A      4     61
Bob            B      1     60
Charlie        C      1     66

In [11]:
import numpy as np
import pandas as pd
df=pd.DataFrame({'Name':['Alice','Bob','Charlie','Alice','Bob','Charlie'],'Category':['A','B','C','A','B','C'],'value':np.random.randint(1,5,size=6),'Score':np.random.randint(60,100,size=6)})
print("\n Original DataFrame:\n",df)
df10=df.groupby(('Name'),as_index=False)['value'].last()
print("\n Group and display from last:\n",df10)

 Original DataFrame:
       Name Category  value  Score
0    Alice        A      2     92
1      Bob        B      1     81
2  Charlie        C      2     84
3    Alice        A      1     81
4      Bob        B      2     97
5  Charlie        C      1     73

 Group and display from last:
       Name  value
0    Alice      1
1      Bob      2
2  Charlie      1

In [33]:
df11=df.groupby(('Name')).size()
print("\n Group and display from size:\n",df11)

 Group and display from size:
 Name
Alice      2
Bob        2
Charlie    2
dtype: int64

In [35]:
 df12=df.groupby(('Name'),as_index=False)['value'].size()
print("\n Group and display from size:\n",df12)

 Group and display from size:
       Name  size
0    Alice     2
1      Bob     2
2  Charlie     2