In [13]:
import pandas as pd
import numpy as np
print("DataFrame.apply function:\n")
info=pd.DataFrame([[3,9]]*4,columns=['S','R'])
print("\n Original Dataframe:\n",info)
print("\n Squareroot of Dataframe:\n",info.apply(np.sqrt))
print("\n Sum of each column:\n",info.apply(np.sum,axis=0))
print("\n Sum of each row:\n",info.apply(np.sum,axis=1))

DataFrame.apply function:


 Original Dataframe:
    S  R
0  3  9
1  3  9
2  3  9
3  3  9

 Squareroot of Dataframe:
           S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0

 Sum of each column:
 S    12
R    36
dtype: int64

 Sum of each row:
 0    12
1    12
2    12
3    12
dtype: int64

In [18]:
info=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]],columns=['x','y','z'])
print("\n Origunal DtaFrame:\n",info)
print("\n Minimum  and Maxximum af each  Column:\n")
print(info.agg(['min','max']))

 Origunal DtaFrame:
    x  y  z
0  2  4  6
1  1  3  5
2  5  8  7

 Minimum  and Maxximum af each  Column:

     x  y  z
min  1  3  5
max  5  8  7

In [20]:
print("\n DataFrame.AssignFunction")
d2=pd.DataFrame([['Sai',88],["Ravi",70]],columns=['EMP',"ID"])
print("\n Original DataFrame:\n",d2)
d2['Age']=[20,18]
print("\n Adding new column:\n",d2)
d=d2.assign(Sex=['Male','Male'])
print("\n Adding new column:\n",d)

 DataFrame.AssignFunction

 Original DataFrame:
     EMP  ID
0   Sai  88
1  Ravi  70

 Adding new column:
     EMP  ID  Age
0   Sai  88   20
1  Ravi  70   18

 Adding new column:
     EMP  ID  Age   Sex
0   Sai  88   20  Male
1  Ravi  70   18  Male

In [23]:
print("\n DataFrame.sortFunction:\n")
info=pd.DataFrame(np.random.randn(5,2),index=[3,4,0,4,1],columns=['col3','col4'])
print(info)
info2=info.sort_index()
print("\n Sort index:\n",info2)
info3=info.sort_values(by='col3')
print("\n Sort values:\n",info3)

 DataFrame.sortFunction:

       col3      col4
3 -0.381939  0.073791
4 -0.183175  2.010230
0 -0.030605 -0.919718
4 -0.275245 -0.188539
1 -1.037643  0.233975

 Sort index:
        col3      col4
0 -0.030605 -0.919718
1 -1.037643  0.233975
3 -0.381939  0.073791
4 -0.183175  2.010230
4 -0.275245 -0.188539

 Sort values:
        col3      col4
1 -1.037643  0.233975
3 -0.381939  0.073791
4 -0.275245 -0.188539
4 -0.183175  2.010230
0 -0.030605 -0.919718

In [3]:
import pandas as pd
print("\n DataFrame.mergeFunction:\n")
left=pd.DataFrame({'id':[1,2,3,4],'Name':['sai','poo','raj','yuvi'],'sub':['sub1','sub2','sub4','sub3']})
right=pd.DataFrame({'id':[1,2,3,4],'Name':['sai','poo','raj','yuvi'],'sub':['sub1','sub2','sub4','sub3']})
print(left)
print(right)
print(pd.merge(left,right,on="id"))

 DataFrame.mergeFunction:

   id  Name   sub
0   1   sai  sub1
1   2   poo  sub2
2   3   raj  sub4
3   4  yuvi  sub3
   id  Name   sub
0   1   sai  sub1
1   2   poo  sub2
2   3   raj  sub4
3   4  yuvi  sub3
   id Name_x sub_x Name_y sub_y
0   1    sai  sub1    sai  sub1
1   2    poo  sub2    poo  sub2
2   3    raj  sub4    raj  sub4
3   4   yuvi  sub3   yuvi  sub3