In [2]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','e','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame with NaN\n",df)
print("/n")
print("Dropped DataFrame \n",df.dropna())
print("/n")

Original DataFrame with NaN
         one       two     three
a -0.395957  0.632432  0.685610
b       NaN       NaN       NaN
c -0.662515 -1.225411  0.126528
d       NaN       NaN       NaN
e  2.066885 -2.127582  1.280650
f -0.173104 -0.423251 -1.803999
/n
Dropped DataFrame
         one       two     three
a -0.395957  0.632432  0.685610
c -0.662515 -1.225411  0.126528
e  2.066885 -2.127582  1.280650
f -0.173104 -0.423251 -1.803999
/n

In [8]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.rand(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c'])
print("original dataFrame:\n",df)
print("\n")
print("NaN replaced with '0':\n")
print(df.fillna(0))

original dataFrame:
         one       two     three
a  0.697363  0.359982  0.599660
b       NaN       NaN       NaN
c  0.761543  0.224230  0.668775


NaN replaced with '0':

        one       two     three
a  0.697363  0.359982  0.599660
b  0.000000  0.000000  0.000000
c  0.761543  0.224230  0.668775

In [9]:
df=pd.DataFrame({'one':[10,20,30,40,50],'two':[60,70,80,90,100]})
print("original DataFrame:\n,df")
print("\n DataFrame with replaced value:\n")
print(df.replace({10:5,8:3}))

original DataFrame:
,df

 DataFrame with replaced value:

   one  two
0    5   60
1   20   70
2   30   80
3   40   90
4   50  100

In [19]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("original DataFrame:\n",df)
print("\n NaN-with TrueFill:\n")
print(df['one'].isnull())

original DataFrame:
         one       two     three
a  1.263556 -0.928409  0.457400
b       NaN       NaN       NaN
c -0.390705 -0.185020  1.996928
d  0.611151  0.653006  1.160656
e       NaN       NaN       NaN
f  0.292730 -0.808872 -2.039321

 NaN-with TrueFill:

a    False
b     True
c    False
d    False
e     True
f    False
Name: one, dtype: bool

In [20]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("original DataFrame:\n",df)
print("\n NaN-filled with background Values:\n")
print(df.fillna(method='bfill'))

original DataFrame:
         one       two     three
a  0.153169 -0.510054  0.309896
b       NaN       NaN       NaN
c  0.448391  0.659322 -1.235882
d -2.173036 -0.426940 -0.711760
e       NaN       NaN       NaN
f -0.775015  0.177721  0.946656

 NaN-filled with background Values:

        one       two     three
a  0.153169 -0.510054  0.309896
b  0.448391  0.659322 -1.235882
c  0.448391  0.659322 -1.235882
d -2.173036 -0.426940 -0.711760
e -0.775015  0.177721  0.946656
f -0.775015  0.177721  0.946656